* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html {
  scroll-behavior: smooth;
  margin: 0;
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--white);
  color: var(--black);
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

/* Variables */
:root {
  --primary-color: #0903ca;
  --white: #f2f2f2;
  --black: #141414;
  --animation-timing: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
